
body{
       font-family: "Poppins", sans-serif;
       background-color: rgb(198, 245, 228);
       
}

.nav-link:hover {
       background-color:#e8f0fe;
       color: #1a73e8; 
}

.search{
       position: relative;
       box-shadow: 20 20 20px rgba(51, 51, 51, .1)
}

.search input{
       height: 40px;
       text-indent: 25px;
       border: 2px solid #d6d4d4;
}

.search input:focus{
       box-shadow: none;
       border: 3px solid blue;
}

.search button{
       position: absolute;
       right: 5px;
       height: 40px;
       width: 90px;
}

.slider{
       margin-top: 150px;
}

.line {
       margin-top: 20px;
       overflow: hidden;
       text-align: center;
       font-size: 12px;
     }
     
     .line:before,
     .line:after {
       background-color: rgb(218, 216, 216);
       content: "";
       display: inline-block;
       height: 2px;
       position: relative;
       vertical-align: middle;
       width: 50%;
     }
     
     .line:before {
       right: 1em;
       margin-left: -50%;
     }
     
     .line:after {
       left: 1em;
       margin-right: -50%;
     }

